* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    overflow: hidden;
    width: 100%;
    height: 100%;
}



:root {
    --color--primario-900: #111B21;
    --color--primario-800: #00634D;
    --color--primario-650: #1DAA61;
    --color--primario-500: #25D366;
    --color--primario-400: #027EB5;
    --color--primario-300: #D9FDD3;
    --color--primario-200: #F6F5F4;
    --color--primario-100: #FFFFFF;


    --color--secundario-300: #8696a0;
    --color--secundario-200: #626262;

    /* Color (Filter Tab */

    --color--Filter--tab: #666B7A;

    /* Color Hover */

    --color--hover-100: #8696a0;




}